td .club {
	display: flex;
	align-items: center;
	gap: 1rem;

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 4rem;
		height: 4rem;
	}

	.name {
		flex-grow: 1;
	}
}

.offers {
	img {
		max-width: 4rem;
		max-height: 4rem;
	}

	ul {
		padding: 0;
	}

	li {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 2rem 1rem;

		.name {
			flex-grow: 1;
		}
	}
}

card .actions {
	display: flex;
	gap: 1rem;
}

.choice-expanded {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
