parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$plainPassword of method Symfony\\\\Component\\\\PasswordHasher\\\\Hasher\\\\UserPasswordHasherInterface\\:\\:hashPassword\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/Auth/RegistrationController.php
