{% extends 'admin/base.html.twig' %}

{% block title %}New Seller{% endblock %}

{% block body %}
	<h1>Create new Seller</h1>

	{{ form(form) }}

	<a href="{{ path('admin.sellers.list') }}">back to list</a>
{% endblock %}
