{% extends 'admin/base.html.twig' %}

{% block title %}New Jersey{% endblock %}

{% block body %}
	<h1>Create new Jersey</h1>

	{{ form(form) }}

	<a href="{{ path('admin.jerseys.list') }}">back to list</a>
{% endblock %}
