<a href="{{ path('app.seller', {sellerSlug: seller.slug}) }}" class="display-seller">
	<div class="logo">
		<img src="{{ seller.logo }}" alt="{{ seller.name }}">
	</div>
	<div class="details">
		<div class="name">{{ seller.name }}</div>
	</div>
	<div class="rating">⭐⭐⭐⭐⭐</div>
</a>
