{% extends 'admin/base.html.twig' %}

{% block title %}New League{% endblock %}

{% block body %}
	<h1>Create new League</h1>

	{{ include('_form.html.twig') }}

	<a href="{{ path('admin.leagues.list') }}">back to list</a>
{% endblock %}
