.clubs-list {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(2, 1fr);
}

.sellers-list {
	display: grid;
	gap: 1rem;
}

.display-seller,
.display-club {
	display: flex;
	line-height: 1.2rem;
	gap: .5rem 1rem;
	border-radius: .5rem;
	padding: 1rem .5rem;

	&:hover {
		cursor: pointer;
		background-color: #f2f2f2;
	}

	.logo {
		width: 4rem;
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.details {
		display: flex;
		gap: .5rem;
		flex-direction: column;
		flex-grow: 1;

		.name {
			font-weight: bold;
			color: var(--text-primary);
		}

		.league {
			color: var(--text-secondary);
		}
	}
}
