{% extends 'base.html.twig' %}

{% block body %}
	<section>
		<h1>{{ title }}</h1>
		<div class="subcategories">
			{% for item in subCategories %}
				<a href="{{ path(item.routeName, item.routeParams) }}">{{ item.name }}</a>
			{% endfor %}
		</div>
		<div class="jerseys">
			<twig:OfferGrid/>
			<ul>
				{% for offer in offers %}
					<li>{{ offer.jersey.computedName }}</li>
				{% endfor %}
			</ul>
		</div>
	</section>
{% endblock %}

{% block title %}

{% endblock %}

